body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.Login {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-image: linear-gradient(79deg, white, white, #c66fbc);
}

.Login .auth-form-container {
  margin: 0px;
  padding: 0px;
}

.Login .auth-form-container,
.Login .login-form,
.Login .register-form {
  display: flex;
  flex-direction: column;
}

.Login .login-form {
  width: 400px;
}

.Login h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: start;
  padding-bottom: 12px;
}

.Login input {
  margin: 0.5rem 0 0 0;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid black;
  background-color: white;
}

.Login button {
  border: none;
  background-color: wheat;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  margin-top: 28px;
  font-size: large;
  font-weight: 600;
  transition: 0.3s;
}

.Login button:hover {
  background-color: rgb(241, 200, 123);
}

.Login .link-btn {
  margin-top: 20px;
  background: none;
  color: white;
  font-size: 14px;
  color: black;
  cursor: pointer;
  border: none;
  padding: 12px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.Login .link-btn:hover {
  color: red;
}

@media screen and (min-width: 600px) {
  .Login .auth-form-container {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
  }
}
