.Signup {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.Signup .auth-form-container,
.Signup .login-form,
.Signup .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .Signup .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.Signup input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.Signup button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.Signup .link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
