@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
body {
  padding: 20px;
} */

.appBody {
  padding: 20px;
}

/* App */
.App {
  display: flex;
  width: 97vw;
  height: 94vh;
  overflow: hidden;
}

/* Sidebar */
.Sidebar {
  width: 30vw;
  min-width: 210px;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  border-style: none;
}

/* Main */
.Main {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}

/* User */
.User {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 20px;
}

.User .logo img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.User .info button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 4px 16px;
  border-radius: 12px;
}

.User .info button:hover {
  background-color: rgb(230, 180, 180);
  color: blue;
  cursor: pointer;
}

.User .info .textOut {
  margin-left: 4px;
  font-size: 14px;
}

/* Modal */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
/* AddNewTodo */
.AddNewTodo {
  border-bottom: 1px solid rgb(180, 180, 180);
  margin: 0 20px;
}

.AddNewTodo .btn {
  padding: 1rem;
  width: 100%;
  height: 80px;
}

.AddNewTodo .btn button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.AddNewTodo .btn button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.AddNewTodo button:hover {
  background-color: #0071e2;
  color: pink;
  cursor: pointer;
}

/* AddNewTodo form */
.TodoForm {
  padding: 20px;
  height: 600px;
  width: 600px;
  background: white;
  border-radius: 12px;
  font-size: 24px;
}

.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  /* margin-bottom: 0.5rem; */
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 20px;
}

/* .TodoForm .text input:focus {
} */

/* .TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
} */

/* .TodoForm p {
  margin-left: 10px;
} */

.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.TodoForm .pick-day {
  margin-top: 12px;
  padding: 1.5rem 0 0 0;
  font-size: 20px;
}

.TodoForm .pick-day p {
  margin-right: 60px;
}

.TodoForm .pick-time {
  padding: 1.5rem 0 0 0;
  font-size: 20px;
}

.TodoForm .pick-time p {
  margin-right: 28px;
}

.TodoForm .pick-project {
  padding: 1.5rem 0 0 0;
}

.TodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.TodoForm .pick-project .projects .project {
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.TodoForm .pick-project .projects .active {
  background: #0080ff;
  color: white;
}
.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.TodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.TodoForm .confirm button {
  width: 100%;
  height: 60px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 28px;
}
/* Calendar */
.Calendar {
  border-bottom: 1px solid rgb(180, 180, 180);
  margin: 20px 20px;
}
.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}
.Calendar .header .title p {
  margin-left: 4px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.Calendar .items {
  padding: 4px 0 8px 0;
}

.Calendar .items .item {
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center; /* Align items vertically in center */
}

.Calendar .items .item p {
  margin-left: 8px;
}

.Calendar .items .item:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  color: rgb(181, 138, 59);
}

/* Projects */
.Projects {
  border-bottom: 1px solid rgb(180, 180, 180);
  margin: 0 20px;
}

.Projects .header {
  display: flex;
  align-items: center;
}

.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p {
  margin-left: 8px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Projects .header .btns {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.Projects .header .btns span.edit {
  margin-right: 5px;
}

.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}

.Projects .items {
  padding: 4px 0 8px 0;
}

.Projects .Project {
  margin: 4px;
  padding: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.Projects .Project:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  color: rgb(181, 138, 59);
}

/* .Projects .items span:hover {
  background-color: rgb(235, 235, 235);
} */

/* Project */
.Project {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}
.Project .name {
  cursor: pointer;
  word-break: break-all;
}
.Project .btns {
  display: flex;
  align-items: center;
}
.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}
.Project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms;
}
.Project .btns .edit-delete span.edit:hover {
  background: #acffac;
}
.Project .btns .edit-delete span.delete:hover {
  background: #ffacac;
}

/* AddNewProject */
.AddNewProject .add-button span {
  margin-right: 5px;
}
/* ProjectForm */
.ProjectForm {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 40px;
}
.ProjectForm input {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1.2rem;
}
.ProjectForm input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}
.ProjectForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
}
.ProjectForm button.cancel {
  left: 0;
  background-color: #bebebe;
}

.ProjectForm button.confirm {
  right: 0;
  background-color: #0080ff;
}

.ProjectForm button:hover {
  filter: brightness(1.1);
}

/* Todos */
.Todos {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: 8px;
  opacity: 0.9;
  padding: 0 0 0 32px;
  overflow-y: auto;
}

.Todos .selected-project {
  /* margin: 1rem 0; */
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}

.Todos .todos {
  overflow-y: auto;
}

/* Todo */
.Todo {
  padding: 0 16px 0 8px;
  border-bottom: 1px solid rgb(43, 31, 31);
}

.Todo:last-child {
  border-bottom: none;
  margin-bottom: 2px;
}

.Todo .todo-container {
  display: flex;
  align-items: center;
  max-width: 1100px;
  max-height: 200px;
  overflow: hidden;
}

.Todo .todo-container span {
  cursor: pointer;
}

.Todo .todo-container {
  display: flex;
  align-items: center;
  padding: 12px;
  /* border-bottom: 1px solid rgb(43, 31, 31); */
}

/* Add this style to ensure the last todo doesn't have a bottom border */
.Todo:last-child .todo-container {
  border-bottom: none;
}

.Todo .todo-container .text {
  position: relative;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}
.Todo .todo-container .text span {
  font-size: 0.8rem;
  color: black;
}

.Todo .todo-container .text .line {
  height: 1px;
  background: #bebebe;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
  width: 100%;
}

.Todo .todo-container .add-to-next-day {
  margin-right: 10px;
}

/* halftodos */
.halfTodos {
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: 8px;
  opacity: 0.9;
  padding: 0 0 0 32px;
  overflow-y: auto;
}

/* EditTodo */
.EditTodo {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(244, 244, 244);
  height: 100%;
  width: 500px;
  border-radius: 20px;
  opacity: 0.9;
}

.EditTodo .headerbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.EditTodo .header {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
}

.EditTodo button {
  background-color: rgb(244, 244, 244);
  font-weight: 900;
  font-size: 20px;
  color: black;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3;
}

.EditTodo button:hover {
  opacity: 0.6;
}

/* .EditTodoForm .container {
} */

.EditTodoForm {
  padding: 0 20px 20px 20px;
  height: 600px;
  width: 100%;
  background: rgb(244, 244, 244);
  border-radius: 12px;
  font-size: 24px;
}

.EditTodoForm .text input {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  font-size: 1.2rem;
  /* margin-top: 20px; */
  background-color: rgb(244, 244, 244);
  border: 1px solid black;
}

/* .TodoForm .text input:focus {
} */

/* .TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
} */

/* .TodoForm p {
  margin-left: 10px;
} */

.EditTodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.EditTodoForm .pick-day {
  margin-top: 12px;
  padding: 1.5rem 0 0 0;
  font-size: 20px;
}

.EditTodoForm .pick-day p {
  margin-right: 60px;
}

.EditTodoForm .pick-time {
  padding: 1.5rem 0 0 0;
  font-size: 20px;
}

.EditTodoForm .pick-time p {
  margin-right: 28px;
}

.EditTodoForm .pick-project {
  padding: 1.5rem 0 0 0;
}

.EditTodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.EditTodoForm .pick-project .projects .project {
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.EditTodoForm .pick-project .projects .project:hover {
  background: #0080ff;
  color: white;
  transition: 0.3s;
}

.EditTodoForm .pick-project .projects .active {
  background: #0080ff;
  color: white;
}

.EditTodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.EditTodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.EditTodoForm .confirm button {
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

/* Next7Days */
.Next7Days {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.day {
  display: grid;
  grid-template-columns: auto 1fr; /* Two columns: one for name, one for total-todos and todos */
  grid-template-rows: auto; /* Only one row */
  grid-gap: 5px;
}

.day .name {
  grid-column: 1;
}

.day .total-todos {
  grid-column: 2;
}

.day .todos {
  grid-column: 1 / span 2; /* Span across both columns */
}

.Next7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}
.Next7Days .day .total-todos {
  margin-left: 12px;
}

.day.today {
  border: 1px solid black; /* Adjust the border style as needed */
  border-radius: 20px;
  padding: 20px;
}

.day.tomorrow {
  border: 1px solid black; /* Adjust the border style as needed */
  border-radius: 20px;
  padding: 20px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02); /* Adjust the scale as needed */
  transform: scale(1.02); /* Adjust the scale as needed */
}
/* 
button.saveChangesBtn {
  background-color: rgb(255, 212, 59);
  font-size: 16px;
  padding: 20px;
} */

.editConBtn {
  position: relative;
  top: 330px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.editConBtn button {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  width: 210px;
  height: 50px;
  border-radius: 12px;
  text-decoration: none;
}

.editConBtn .saveChangesBtn {
  background-color: rgb(255, 212, 59);
  transition: 0.3s;
}

.editConBtn .saveChangesBtn:hover {
  opacity: 0.7;
  background-color: rgb(255, 212, 59);
}

.editConBtn .deleteTaskBtn {
  border: 1px solid rgb(180, 180, 180);
  transition: 0.3s;
}

.editConBtn .deleteTaskBtn:hover {
  color: #000000;
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}

.EditTodoForm .title {
  font-size: 20px;
  margin: 0;
}

.EditTodoForm .pick-project .projects {
  padding: 0px;
  margin-left: 110px;
}

.EditTodoForm .pick-project .title .projects .selectList {
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  border: 1px solid rgb(180, 180, 180);
  font-size: 16px;
  height: 40px;
  padding: 10px;
}
